/* Media Queries */

/* 768px */

@media (min-width: 768px) {
	
	
	.about-content {
		width: 61%;		
	}

	.about-content p {
		text-align: left;
		font-size: 21px;
	}	
			

	[class^="col"] {
		float: left;
		padding: 0 .5rem;
	}	

	.col {
		width: calc(100% /12 * 6);
	}		
	
	.back-to-top {
		display: none;
	}	
}

/* 1024px */
@media (min-width: 1024px) {
		
	nav {		
		display: flex;		
		flex-direction: row;				
		background-color: transparent;		
	}	
	
	.about-content p {
		text-align: left;
		font-size: 24px;
	}

	.col {
		width: calc(100% /12 * 4);
	}		
}