/* Footer Styles
======================= */

.main-footer {
	justify-content: space-between;	
	@extend %flex;	
	flex-direction: row;	

	@include tablet {
		margin: 0 24px;
		padding-top: 0;
		padding-bottom: 3em;
	}

	@include desktop {
		padding-bottom: 1em;
	}
}

.footer-name {	
	font-size: $one-em;
	font-weight: 800;
	color: $color-text;
	text-decoration: none;
	align-self: center;
	margin-left: 10px;	
} 

.footer-nav {
	display: none;	

	@include tablet {
		display: flex;		
		flex-direction: row;	
		justify-content: flex-end;			
		background-color: transparent;
		margin: 0;
			li {
				margin: 0 1em;
			}
	}

	@include desktop {
		display: flex;		
		flex-direction: row;				
		background-color: transparent;
	}	
}