/* Horizontal Styles
======================= */

hr {
	border-bottom: 1px solid #dcdcdc;
	border-top: none;
	border-left: none;
	border-right: none;	
	width: 300px;	
	padding-top: 1em;

	@include tablet {
		width: 720px;
	}

	@include desktop {
		width: 95%;
	}
}